/*   App.css for styles used in entire app */

.logo{

  height: 100px;
  width: 380px;
}

a {
  outline: none;
  text-decoration: none;
  color: black;

}

header{
    display: flex;
    flex-wrap: wrap;
    word-spacing: 6px;
    justify-content: space-evenly;
    font-size: 15px;
}

.treemanimage{

  height: 600px;
  width: 672px;
  background: linear-gradient(80deg, #0D5C45 17.65%, rgba(0, 0, 0, 0) 100%), url(./images/treeman.jpg);
  background-repeat: no-repeat;

}



.logthrow{
display: flex;
justify-content: flex-end;
margin-right: 30px;
}

.logimage{
  width: 440px; 
  height: 489px;
  float: right;
 margin-right: 49px;

}

form{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 50px;
}

.input-field {
  width: 20%; /* Set the width to 100% */
  height: 40px; /* Set the height to 40px */
  padding: 10px; /* Add some padding for better readability */
  border-radius: 4px; /* Add rounded corners */
  border: 1px solid #ccc; /* Add a border for better visibility */
  margin-bottom: 10px; /* Add some spacing between the fields */
}


.directorimage{
  width: 440px; 
  height: 489px;
  float: right;
  margin-bottom: 50px;
}

.stormdamagetree{
  width: 240px; 
  height: 289px;
}



.fontsmall{
  font-size: 16px;
}

.servicecontainer{
  display: flex;
  background: white;
}

.knowhowcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}



.knowhow{
 font-size: 33px;
}



main{

  margin-top:20px;
  display: flex;
  justify-content: space-between;
  background: #0D5C45;
  opacity: 0; /* set element to be invisible initially */
  animation: fadeIn forwards 1s; /* specify the name of the animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* start with element being invisible */
  }

  to {
    opacity: 1; /* end with element being fully visible */
  }
}

.layout{
  margin-left: 30px;
  margin-top: 115px;
  color: white;
  width: 50%;
}


.layoutpagehead{
  display: flex;
  justify-content: center;
  margin-top: 115px;
  color: white;
  background: #0D5C45;
}

article{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer{
  display: flex;
  background: #0D5C45;
  color: white;
  flex-direction: column;
  align-items: center;
}

.description-text{
  margin-left: 57px;
  margin-top: 115px;
  color: #1c8165;
  width: 80%;
  animation: fadeIn forwards 1s;
}
.workerontree{

  height: 600px;
  width: 382px;
  margin-top: 80px;
  margin-left:40px;

}

.wrapper{
  margin-left: 30px;
  margin-right: 50px;
}

.bulletlist{
  list-style-type: circle;
}

.traininglist{
  display: flex;
  flex-direction: column;
}

nav{
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
}

li{
    margin-left: 30px;
}

p{
  font-size: 22px;
}

h1{
  font-size: 28px;
}

.cta-button {
width: 184px;
height: 43px;
background: #90930F;
border-radius: 25px;
color: white;
cursor: pointer;
margin-right: 30px;
margin-top: 20px;

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .layout {
    display: flex;
    flex-direction: column;

  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

li{
  margin-bottom: 18px;
}

.logo{
  width: 285px;
}

.workerontree {
  width: 335px;
  height: 408px;
  margin-left: 18px;
}



.servicecontainer {
  display: flex;
  margin-left: -61px;
  background: white;
  flex-direction: column;
}
.description-text{
  margin-left: 89px;
}
h1{
  font-size: 20px;
  width: 154px;
}




.logimage {
  width: 311px;
  height: 408px;
  margin-left: 18px;
  margin-bottom: 30px;
}

.directorimage {
  width: 318px;
  height: 442px;
  margin-right: 46px;
  /* margin-bottom: 30px; */
}

p {
  width: 70%;
}

h4{
  width:50%
}

.cta-button{
  margin-bottom: 30px;
}



header{
  display: flex;
  justify-content: flex-start;
}

footer{
  font-size: 10px;
}

.traininglist {
  width: 195px;
  padding: 0;
}


}